<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISADM PROPESQI</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{url_for('static', filename='owl.carousel.min.css')}}" class="style">
    <link rel="stylesheet" href="{{url_for('static', filename='owl.theme.default.min.css')}}" class="style">
    
   
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                   
                        fontFamily: {
                            'roboto': ['Roboto', 'sans-serif'],
                            'inter': ['Inter Tight', 'sans-serif']
                        },
                        backgroundImage: {
        
                            'imagem':
                            "linear-gradient(to right, rgb(4, 4, 4),rgba(0,0,0,0.6)), url('/static/img/campus-Recife.jpeg') ",
                            
                            'imagem-header':"url('/static/img/red-paper-texture.jpg')",
                            'anexa':
                            "linear-gradient(to right, rgb(4, 4, 4),rgba(0,0,0,0.6)), url('/static/img/anexador.PNG') ",
                            
                        
                        }


                    }
                }
            }
        
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto:wght@100;400&display=swap');
    
      
        .material-symbols-outlined {
        font-variation-settings:
        'FILL' 100,
        'wght' 800,
        'GRAD' 100,
        'opsz' 0
        }

    </style> 

<body  id="body">
    <header class="w-full   h-32 fixed z-30" >
        <nav id="nav" class="flex flex-row justify-start items-center    bg-cover bg-center  p-4" >
            <img class="h-24 py-2 ml-16" src="/static/img/Logo UFPE Versoes.png">
            <section class="flex flex-col justify-start ml-12">
                <h3 class="text-3xl text-slate-100">PROPESQI</h3>
                <p class="text-slate-50 text-md">Pró-Reitoria de Pesquisa e Inovação</p>
            </section>
            <section class="absolute right-32  w-96 flex items-center box-border">
            <input id="pesquisa" type="text" placeholder="Pesquise..." class="w-full h-full py-2 px-2 bg-transparent caret-slate-100 text-slate-100 text-xl border rounded-l-lg border-24 border-gray-300 rounded-md scale-x-0 focus:outline-none placeholder:text-xl ">
                <span class="material-symbols-outlined text-slate-100 absolute text-4xl right-2 hover:cursor-pointer hover:text-red-200 hover:transition-all duration-150" onclick="searchShow()">
                    search
                </span>
            </section>    
        </nav>
        
    </header>
    <main class="bg-imagem  bg-cover bg-center min-h-screen  flex flex-col justify-center items-center text-slate-100  " >
        <div class=" flex flex-col justify-center items-center w-3/6">
            <h1 class="text-6xl">SISADM PROPESQI</h1>
            <hr class="w-1/6  mt-4 mb-8 border-red-700 border-2">
            <p class="text-2xl text-center text-slate-400 font-inter">Um Web app de serviços administrativos para uso interno dos servidores técnicos administrativos da PROPESQI</p>
        </div>
        
    </main>
    <section class="flex flex-col justify-center items-center w-full bg-red-700">
        <h1 class="text-slate-200 text-3xl mt-20">Estrutura da Pró-Reitoria</h1>
        <hr class="w-1/6  mt-4 mb-8 border-slate-200 border-2">
        <p class="text-lg text-center text-slate-200 font-inter w-3/6">A Pró-Reitoria de Pesquisa e Inovação (PROPESQI) tem por finalidade planejar e articular as políticas de Ciência, Tecnologia e Inovação (CT&I) apoiando a formação de pessoal de alto nível e é composta por:</p>
        <div class="flex justify-around items-center w-full mt-16 bg-red-900 py-16 px-8 text-slate-200 text-lg">
            <ul class="leading-10  text-slate-300 px-4 border-r">
                <p class="text-xl mt-0 font-inter hover:text-red-300">Gabinete do Pró-Reitor</p>
                <hr class="w-3/6  mt-4 mb-8 border-slate-500 border-2">
                <li>Secretaria do Gabinete</li>
                <li>CAF - Coordenação Administrativa e Financeira</li>
                <li>COP - Coordenação de Parcerias</li>
                <li>CEP - Comitê de Ética em Pesquisa de uso animal</li>
            </ul>
            <ul class="leading-10 text-slate-300 px-4 border-r">
                <p class="text-xl font-inter hover:text-red-300">DPQ - Diretoria de Pesquisa</p>
                <hr class="w-3/6  mt-4 mb-8 border-slate-500 border-2">
                <li>Secretaria da DPQ</li>
                <li>CPROJ - Coordenação de Projetos</li>
                <li>NAP - Núcleo de Apoio ao Pesquisador</li>
                <li>PIBIC - Coordenação de Iniciação Científica</li>
            </ul>
            <ul class="leading-10 text-slate-300">
                <p class="text-xl font-inter hover:text-red-300">DINE - Diretoria de Inovação e Empreendedorismo</p>
                <hr class="w-3/6  mt-4 mb-8 border-slate-500 border-2">
                <li>Secretaria da DINE</li>
                <li>CP - Coordenação de Propriedade Intelectual</li>
                <li>CIN - Coordenação de Inovação</li>
                <li>CPAT - Coordenação de Patentes</li>
            </ul>
        </div>
    </section>
    
    <section class="w-full h-auto mt-20 flex flex-col justify-center items-center  2xl:mt-40">
        <h1 class="text-3xl  font-inter text-red-700 2xl:mt-24">Serviços Web</h1>
        <hr class="w-32  mt-4 mb-12 border-slate-500 border-2">
        <section class="bg-red-400 h-80 flex flex-col gap gap-1">
            <div class="w-full h-4/5  grid grid-cols-3 ">
                <a href="/pdf" class="bg-red-800 flex justify-center items-center"><p class="absolute text-white text-roboto text-xl">Anexa Cartas</p><img  src="/static/img/anexador.PNG" class="z-20 w-full h-full hover:opacity-10  hover:transition-all duration-300 ease-in-out"></a>
                <a href="/cartas" class="bg-red-800 flex justify-center items-center"><p class="absolute text-white text-roboto text-xl">Iniciação Científica</p><img src="/static/img/online-statistics.jpg" class="z-20 w-full h-full hover:opacity-10 hover:transition-all duration-300 ease-in-out"></a>
                <a href="https://www.ufpe.br/propesqi" class="bg-red-800 flex justify-center items-center"><p class="absolute text-white text-roboto text-xl">Site Propesqi</p><img src="/static/img/propesqi.PNG" class="w-full h-full hover:opacity-10 hover:transition-all duration-300 ease-in-out"> </a>  
                <a href="https://sipac.ufpe.br" class="bg-red-800 flex justify-center items-center"><p class="absolute text-white text-roboto text-xl">SIPAC</p><img src="/static/img/sipac.PNG" class="z-20 w-full h-full hover:opacity-10 hover:transition-all duration-300 ease-in-out "></a>
                <a href="https://sites.ufpe.br/cstic/" class="bg-red-800 flex justify-center items-center"><p class="absolute text-white text-roboto text-xl">CSTIC - Suporte TI</p><img src="/static/img/cstic.PNG" class="z-20 w-full h-full hover:opacity-10 hover:transition-all duration-300 ease-in-out "></a>
                <a href="/cartas" class="bg-red-800 flex justify-center items-center"><p class="absolute text-white text-roboto text-xl">Cria Cartas de Anuência</p><img src="/static/img/cartasdeanu.PNG" class="z-20 w-full h-full hover:opacity-10 hover:transition-all duration-300 ease-in-out "></a>
            </div>
        </section>


    </section>
    <section class="w-full h-80">

    </section>
    
    
    
    
    
    
</body>




<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/home.js"></script>





</html>