<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoLetter Propesqi</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{url_for('static', filename='owl.carousel.min.css')}}" class="style">
    <link rel="stylesheet" href="{{url_for('static', filename='owl.theme.default.min.css')}}" class="style">
    
   
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                   
                        fontFamily: {
                            'roboto': ['Roboto', 'sans-serif'],
                            'inter': ['Inter Tight', 'sans-serif'],
                            'noto': ['Noto Sans', 'sans-serif']
                        },
                        backgroundImage: {
        
                            'imagem':
                            "linear-gradient(to right, rgb(4, 4, 4),rgba(0,0,0,0.6)), url('/static/img/campus-Recife.jpeg') ",
                            
                            'imagem-header':"url('/static/img/red-paper-texture.jpg')",
                            
                        },
                        colors: {
                            'opaco-preto': "linear-gradient(to right, rgb(4, 4, 4),rgba(0,0,0,0.6))",
                        },
                    }
                }
            }
        
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Noto+Sans:wght@100;200;400&family=Roboto:wght@100;400&display=swap');
    
      
        .material-symbols-outlined {
        font-variation-settings:
        'FILL' 100,
        'wght' 800,
        'GRAD' 100,
        'opsz' 0
        }

    </style> 

<body class="relative" id="body">
    
    
    <div class="app bg-gradient-to-r from-red-700 to-red-900 w-full h-screen flex flex-col  items-center bg-cover bg-center font-roboto transition-all duration-300 ease-in-out" id="tela-inicial" style="background-image: url(/static/img/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg)">
        <header class="w-full   h-32 " >
            <nav id="nav" class="flex flex-row justify-start items-center    bg-cover bg-center  p-4" >
                <img class="h-24 py-2 ml-16" src="/static/img/Logo UFPE Versoes.png">
                <section class="flex flex-col justify-start ml-12">
                    <h3 class="text-3xl text-slate-100">PROPESQI</h3>
                    <p class="text-slate-50 text-md">Pró-Reitoria de Pesquisa e Inovação</p>
                </section>
                <section class="absolute right-32  w-96 flex justify-end items-center box-border ">
                    <a href="/"><p class="text-slate-100 text-xl hover:text-red-700 hover:text-xl">Inicio</p></a>
                
                </section>    
            </nav>
            
        </header> 
        <section class="flex flex-col justify-center items-center mt-28 ">
            <h1 class="text-6xl text-slate-200">AutoLetter</h1>
            <hr class="w-1/6  mt-4 mb-8 border-red-700 border-2">
            <p class="text-2xl text-center text-slate-400 font-inter px-80">Clique abaixo para criar cartas de anuência a projetos de pesquisa de forma automatizada</p>
            <a><button type="button" class="bg-red-700 rounded-lg text-white text-xl px-12 py-4 mt-12" onclick="criarCarta()">Criar cartas</button></a>
        </section>
    </div>
    <main class="w-full h-screen flex flex-col justify-center items-center shadow-2xl font-noto transition duration-300 ease-in-out" id="main" >
        <div id="pop-up" class="bg-stone-900  w-full h-screen  -z-10 flex flex-col justify-center items-center absolute shadow-xl">
            <section class="w-4/6 h-4/5 bg-slate-300 py-8 rounded-l-lg rounded-r-3xl">
                <p id="place-jinja" class="text-slate-500 text-3xl lg:text-2xl mb-0"  >{{ criou_carta }}</p>
                <p class="text-2xl text-center">Obrigado por utilizar o sistema que foi pensado para você!</p>
                
            </section>
        </div>
        <section class="flex items-center w-4/6 h-4/5 ">   
            <div class="bg-black h-full text-slate-200 p-10 rounded-l-lg">
                <h1 class="text-2xl mb-4 ">Seja bem-vindo!</h1>
                <p class="text-red-200">Insira os dados referentes ao projeto que o pesquisador deseja submeter a orgão de fomento à pesquisa e inovação (FACEPE, CNPq, CAPES, etc.)</p>
                <img src="/static/img/formula-animate.svg" alt="imagem-animada" class="h-4/6 mt-8">
            </div>
            <form action="/criacartas"  method="post" id="formtexto" class="h-full w-5/6 px-4 py-2 flex flex-col gap gap-10  items-center   bg-white  rounded-r-3xl  shadow-2xl   2xl:gap-20 " >
            
                
                <input type="text" name="titulo_projeto" placeholder="Digite o nome do projeto" class="w-4/5 px-4 rounded-md border border-slate-400 mt-12 placeholder:text-slate-800 focus:outline-none " required>
                
                <input type="text" name="edital" placeholder="Digite o nome do Edital" class="w-4/5 px-4 rounded-md border border-slate-400 placeholder:text-slate-800 focus:outline-none " required>
                
                <input type="text" name="coordenador" placeholder="Digite o nome do Coordenador" class="w-4/5 px-4 rounded-md border border-slate-400  placeholder:text-slate-800 focus:outline-none " required>
                
                <input type="text" name="siape" placeholder="Digite matrícula SIAPE" class="w-4/5 px-4 rounded-md border border-slate-400  placeholder:text-slate-800  focus:outline-none " required>
                
                <input type="text" name="lotação" placeholder="Digite Lotação" class="w-4/5 px-4 rounded-md border border-slate-400  placeholder:text-slate-800 focus:outline-none" required>
                
                <button type="submit" class="p-4 mt-0 bg-red-700 text-white rounded-md hover:pointer" onclick="apareceBaixar()" >Enviar dados</button>
                
            </form>
        </section>
        
        
    </main>
</body>




<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/cartas.js"></script>





</html>